<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <!--Top Menu & Menu button-->
           <div class="sidebar">
               <div class="profile">
                <img src="image\360_F_465677338_kgtxETt836nSjNl3CvQTpNd0To65RtrK.jpg" alt="profile_picture">
                <h4>Profile</h4>
               </div>
               <ul>
                    <li>
                        <a href="#" class="active">
                            <span class="icon"><i class="fas fa-history"></i></span>
                            <span class="item">History</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="item" onclick="logout()">logout</span>
                        </a>
                    </li>           
                </ul>     
          </div>
          <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>    
          </div>  
       </div>
       
     <script>
        var hamburger = document.querySelector(".hamburger");
	hamburger.addEventListener("click", function(){
		document.querySelector("body").classList.toggle("active");
	})

    function logout() {
  localStorage.removeItem("jwt");
  window.location.href = './login.html'
}
     </script>
</body>
</html>