
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1{
    margin: 0;
    margin-bottom: 8px;
}
.input{
    border: 1px solid #333;
    border-radius: 4.8px;
    padding: 4px;
    width: 7em;

}

select{
    margin-left: 1em;
    border-radius: 4.8px;
    border: 1px solid #333;

}

.equals{
    font-weight: bold;
    font-size: 30px;
    padding-right: 3rem;
}

.paper {
    border: 1px solid black;
    background: linear-gradient(255, 233, 200);
    width: 500px;
    height: 200px;

}